cows.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.isistan.edu.ar/springsoap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.isistan.edu.ar/springsoap/gen" targetNamespace="http://www.isistan.edu.ar/springsoap/gen">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.isistan.edu.ar/springsoap/gen">
 
    
    <xs:complexType name="Cow">
    	<xs:sequence>
    		<xs:element name="id" type="xs:int"/>
    		<xs:element name="electronic_id" type="xs:int"/>
    		<xs:element name="born_date" type="xs:date"/>
    		<xs:element maxOccurs="1" minOccurs="0" name="last_due_date" type="xs:date"/>
    		<xs:element name="number_of_deliveries" type="xs:int"/>
            <xs:element name="weight" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Herd">
    	<xs:sequence>
    		<xs:element maxOccurs="unbounded" minOccurs="1" name="cows" type="tns:Cow">
    		</xs:element>
    		<xs:element name="location" type="xs:string"/>
    	</xs:sequence>
    </xs:complexType>


    <xs:complexType name="CowBcs">
    	<xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="cow_id" type="xs:int"/>
            <xs:element name="fecha" type="xs:date"/>
            <xs:element name="cc" type="xs:string"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:attribute name="NewAttribute" type="xs:string"/>


    <xs:complexType name="AnimalAlert">
    	<xs:sequence>
    		<xs:element name="id" type="xs:int"/>
    		<xs:element name="animal_id" type="xs:int"/>
    		<xs:element name="bcs_threshold" type="xs:int"/>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="HerdAlert">
    	<xs:sequence>
    		<xs:element name="id" type="xs:int"/>
    		<xs:element name="herd_id" type="xs:int"/>
    		<xs:element name="bcs_threshold" type="xs:int"/>
    	</xs:sequence>
    </xs:complexType>
    
    
    <!--                       Response && Request                    -->
    
    <xs:element name="getHerdResponse">
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="herd" type="tns:Herd"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHerdRequest">
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
  
   
    <xs:element name="getCowResponse">
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="cow" type="tns:Cow"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCowRequest">
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    

    <xs:element name="postAnimalRequest">     
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="animal" type="tns:Cow"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
       
    
    <xs:element name="postHerdRequest">     
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="location" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="Response">     
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
   <xs:element name="postCowToHerdRequest">     
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="id_herd" type="xs:integer"/>
                <xs:element name="cow" type="tns:Cow"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="associateCowToHerdRequest">     
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="id_herd" type="xs:integer"/>
                <xs:element name="id_cow" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="postAnimalAlertRequest">     
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="id_animal" type="xs:integer"/>
                <xs:element name="bcs_threshold" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
        <xs:element name="postHerdAlertRequest">     
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="id_herd" type="xs:integer"/>
                <xs:element name="bcs_threshold" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addCowRequest">     
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="cow" type="tns:Cow"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="getAnimalAlertResponse">
    	<xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="alert" type="tns:AnimalAlert"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAnimalAlertRequest">
    	<xs:complexType>
            <xs:sequence>
           
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
        <xs:element name="getHerdAlertResponse">
    	<xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="alert" type="tns:HerdAlert"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHerdAlertRequest">
    	<xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getHerdResponse">
    <wsdl:part element="tns:getHerdResponse" name="getHerdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCowRequest">
    <wsdl:part element="tns:addCowRequest" name="addCowRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCowRequest">
    <wsdl:part element="tns:getCowRequest" name="getCowRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postAnimalRequest">
    <wsdl:part element="tns:postAnimalRequest" name="postAnimalRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="associateCowToHerdRequest">
    <wsdl:part element="tns:associateCowToHerdRequest" name="associateCowToHerdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Response">
    <wsdl:part element="tns:Response" name="Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postHerdAlertRequest">
    <wsdl:part element="tns:postHerdAlertRequest" name="postHerdAlertRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCowResponse">
    <wsdl:part element="tns:getCowResponse" name="getCowResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAnimalAlertResponse">
    <wsdl:part element="tns:getAnimalAlertResponse" name="getAnimalAlertResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAnimalAlertRequest">
    <wsdl:part element="tns:getAnimalAlertRequest" name="getAnimalAlertRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHerdAlertRequest">
    <wsdl:part element="tns:getHerdAlertRequest" name="getHerdAlertRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHerdAlertResponse">
    <wsdl:part element="tns:getHerdAlertResponse" name="getHerdAlertResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postAnimalAlertRequest">
    <wsdl:part element="tns:postAnimalAlertRequest" name="postAnimalAlertRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postHerdRequest">
    <wsdl:part element="tns:postHerdRequest" name="postHerdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHerdRequest">
    <wsdl:part element="tns:getHerdRequest" name="getHerdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postCowToHerdRequest">
    <wsdl:part element="tns:postCowToHerdRequest" name="postCowToHerdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CowsPort">
    <wsdl:operation name="getHerd">
      <wsdl:input message="tns:getHerdRequest" name="getHerdRequest">
    </wsdl:input>
      <wsdl:output message="tns:getHerdResponse" name="getHerdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCow">
      <wsdl:input message="tns:addCowRequest" name="addCowRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getCow">
      <wsdl:input message="tns:getCowRequest" name="getCowRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCowResponse" name="getCowResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postAnimal">
      <wsdl:input message="tns:postAnimalRequest" name="postAnimalRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="associateCowToHerd">
      <wsdl:input message="tns:associateCowToHerdRequest" name="associateCowToHerdRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="postHerdAlert">
      <wsdl:input message="tns:postHerdAlertRequest" name="postHerdAlertRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getAnimalAlert">
      <wsdl:input message="tns:getAnimalAlertRequest" name="getAnimalAlertRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAnimalAlertResponse" name="getAnimalAlertResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHerdAlert">
      <wsdl:input message="tns:getHerdAlertRequest" name="getHerdAlertRequest">
    </wsdl:input>
      <wsdl:output message="tns:getHerdAlertResponse" name="getHerdAlertResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postAnimalAlert">
      <wsdl:input message="tns:postAnimalAlertRequest" name="postAnimalAlertRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="postHerd">
      <wsdl:input message="tns:postHerdRequest" name="postHerdRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="postCowToHerd">
      <wsdl:input message="tns:postCowToHerdRequest" name="postCowToHerdRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CowsPortSoap11" type="tns:CowsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getHerd">
      <soap:operation soapAction=""/>
      <wsdl:input name="getHerdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHerdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCow">
      <soap:operation soapAction=""/>
      <wsdl:input name="addCowRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getCow">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCowRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCowResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postAnimal">
      <soap:operation soapAction=""/>
      <wsdl:input name="postAnimalRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="associateCowToHerd">
      <soap:operation soapAction=""/>
      <wsdl:input name="associateCowToHerdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="postHerdAlert">
      <soap:operation soapAction=""/>
      <wsdl:input name="postHerdAlertRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getAnimalAlert">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAnimalAlertRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAnimalAlertResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHerdAlert">
      <soap:operation soapAction=""/>
      <wsdl:input name="getHerdAlertRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHerdAlertResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postAnimalAlert">
      <soap:operation soapAction=""/>
      <wsdl:input name="postAnimalAlertRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="postHerd">
      <soap:operation soapAction=""/>
      <wsdl:input name="postHerdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="postCowToHerd">
      <soap:operation soapAction=""/>
      <wsdl:input name="postCowToHerdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CowsPortService">
    <wsdl:port binding="tns:CowsPortSoap11" name="CowsPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>